.carousel {
    cursor: grab;
    overflow: hidden;
    /* background: lightgray; */
    margin: 10% 0;
}

.item{
    min-height: 40rem;
    min-width: 30rem;
    width: 30rem;
    padding: 40px;
    border-radius: 2rem;
    /* pointer-events: none; */
}

.item video{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.inner-carousel {
    display: flex;  
    /* background: darkgray;  */
}

@media (max-width: 768px) {
    .item{
        min-height: 30rem;
        min-width: 20rem;
        width: 30rem;
        padding: 40px;
        border-radius: 2rem;
        /* pointer-events: none; */
    }
}